name: build

on:
  push:
    branches:
      - "*"
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP version
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.4"

      - name: Install PHP dependencies
        run: composer install --no-dev

      - name: Compile scripts and styles
        run: |
          npm install
          npm run production

      #- uses: sitepilot/action-deploy@main
      #  env:
      #    DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
      #  with:
      #    args: deploy theme <theme-name> remote:files/v1/packages

      #- uses: actions/upload-artifact@v2
      #  with:
      #    path: ./build

      #- uses: actions/upload-release-asset@v1
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  with:
      #    upload_url: ${{ github.event.release.upload_url }}
      #    asset_path: ./build/<theme-name>.zip
      #    asset_name: <theme-name>.zip
      #    asset_content_type: application/zip
      #  if: github.event.release
